@import "tailwindcss";


@font-face {
  font-family: Aspekta;
  src: url('./assets/fonts/Aspekta.otf') format('opentype');
}

@theme {
  --color-primary: #F4B532;
  --color-secondary: #262626;
  --color-background: #F1F2F6;
  --color-componentBG: #FFFFFF;
  --color-textSecondary: #525252;
  --color-textOnPrimary: #404040;
  --font-primary: 'Aspekta', sans-serif;
}